/* Checkout Page Checkout Form CSS */
.checkout-form ::placeholder {
  color: #E9E4E4; 
  opacity: 1;
}

.checkout-form .form-control {
  border: none;
  border-radius: 5px;
}

.checkout-form .form-control:focus {
  box-shadow: none;
}